.contenedor{
    display: grid;
    gap: 50px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    align-content: center;
    place-content: center;
    height: 900px;
    
    
}
.contenedor2{
    height: 330px;
    width: 330px;
    display: grid;
    gap: 30px;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-auto-flow: column;
    background-color: #3D6C0F;
}
.item{
    
    position: relative;
    background-color: greenyellow;
}
.item span{
    background-color: #67B822;
    color: white;
    bottom: 0;
    right: 0;
    padding: 25px 20px;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
}